<div class="jumbotron">
	<h1>Resurstyper</h1>

	<% if flash[:notice] %>
		<div class="error">
			<h2><%= flash[:notice] %></h2>
		</div>
	<% end %>
	<% @resources.each do |resource| %>
		<%= resource.resource_type %><br />
	<% end %>
</div>
